.wrapper {
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.topCard {
  border-radius: 12px;
}

.steps {
  margin: 16px 0;
}

.stepContent {
  flex: 1; 
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.section {
  flex: 1;
  height: 100%;
}

.titleCommon {
  font-weight: 700;
  font-size: 16px;
}

.listCommon {
  height: 100%;
  background: #eaeaea;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  
  .listContent {
    height: calc(100vh - 410px);
    overflow-y: auto;
  }
}

.machineCard {
  width: 380px;
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.footer {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
}

//Step Process styles
.inputProcess {
  width: 100%;
  height: 40px;
}

.titleHeader {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
