$primary-color: rgb(22, 119, 255);
$active-color: rgb(186, 231, 255);
$hover-color: rgba(0, 0, 0, 0.1);
$background-hover-color: rgba(158, 192, 239, 0.65);
$border-color: rgb(224, 224, 224);
$background-color: rgb(79, 89, 102, 0.28);
$secondary-color: rgb(255, 255, 255);
$primary-color-info: rgb(0, 192, 42)
