.wrapper {
  height: calc(100% - 10px);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: auto;
}

.topCard {
  border-radius: 12px;
  margin-bottom: 16px;
}

.steps {
  margin: 16px 0;
}

.section {
  height: calc(100% - 88px);
  margin-top: 16px;
}

.titleCommon {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 12px;
}

.listCommon {
  height: 100%;
  background: #eaeaea;
  padding: 12px;
  border-radius: 10px;
  overflow-y: auto;
}

.machineCard {
  width: 380px;
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.footer {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
}

.stepContent {
  flex: 1;
}

//Step Process styles
.inputProcess {
  width: 100%;
  height: 40px;
}
