.wrapper {
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: auto;
}

.topCard {
  border-radius: 12px;
}

.steps {
  margin: 16px 0;
}

.stepContent {
  flex: 1; 
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.titleCommon {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 12px;
}

.listCommon {
  height: 100%;
  background: #eaeaea;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  
  .listContent {
    height: calc(100vh - 410px);
    overflow-y: auto;
  }
}

.machineCard {
  width: 380px;
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.footer {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
}

.stepContent {
  flex: 1;
}

//Step RM Production Order styles
.filterSection {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.filterItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.filterLabel {
  font-weight: 600;
  font-size: 15px;
  line-height: 32px;
  white-space: nowrap;
}

@media (max-width: 1400px) {
  .filterSection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 992px) {
  .filterSection {
    grid-template-columns: 1fr;
  }

  .filterItem {
    gap: 8px;
  }

  .filterLabel {
    min-width: 80px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .filterItem {
    flex-direction: column;
    align-items: stretch;
  }

  .filterLabel {
    text-align: left;
    line-height: 20px;
  }
}




