.header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.icon {
  width: 44px;
  height: 44px;
  background: #1ec28b;
  border-radius: 8px;
  color: #fff;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 0 !important;
  font-weight: 900;
}